In [ ]:
import pandas as pd
df = pd.read_csv('/content/heart(1).csv')
df.head()

   Age Sex ChestPainType  ...  Oldpeak  ST_Slope  HeartDisease
0   40   M           ATA  ...      0.0        Up             0
1   49   F           NAP  ...      1.0      Flat             1
2   37   M           ATA  ...      0.0        Up             0
3   48   F           ASY  ...      1.5      Flat             1
4   54   M           NAP  ...      0.0        Up             0

[5 rows x 12 columns]

In [ ]:
df.dtypes

Age                 int64
Sex                object
ChestPainType      object
RestingBP           int64
Cholesterol         int64
FastingBS           int64
RestingECG         object
MaxHR               int64
ExerciseAngina     object
Oldpeak           float64
ST_Slope           object
HeartDisease        int64
dtype: object

In [ ]:
df.columns

Index(['Age', 'Sex', 'ChestPainType', 'RestingBP', 'Cholesterol', 'FastingBS',
       'RestingECG', 'MaxHR', 'ExerciseAngina', 'Oldpeak', 'ST_Slope',
       'HeartDisease'],
      dtype='object')

In [ ]:
non_nums = df.columns[df.dtypes == 'object']
non_nums

Index(['Sex', 'ChestPainType', 'RestingECG', 'ExerciseAngina', 'ST_Slope'], dtype='object')

In [ ]:
#for val in non_nums:
  #print(df[val])

In [ ]:
print(df['Sex'].unique())
print(df['ChestPainType'].unique())
print(df['RestingECG'].unique())
print(df['ExerciseAngina'].unique())
print(df['ST_Slope'].unique())

['M' 'F']
['ATA' 'NAP' 'ASY' 'TA']
['Normal' 'ST' 'LVH']
['N' 'Y']
['Up' 'Flat' 'Down']

In [ ]:
from sklearn import preprocessing
le1 = preprocessing.LabelEncoder()
le2 = preprocessing.LabelEncoder()
le3 = preprocessing.LabelEncoder()
le4 = preprocessing.LabelEncoder()
le5 = preprocessing.LabelEncoder()

df['Sex'] = le1.fit(df['Sex']).transform(df['Sex'])
df['ChestPainType'] = le2.fit(df['ChestPainType']).transform(df['ChestPainType'])
df['RestingECG'] = le3.fit(df['RestingECG']).transform(df['RestingECG'])
df['ExerciseAngina'] = le4.fit(df['ExerciseAngina']).transform(df['ExerciseAngina'])
df['ST_Slope'] = le5.fit(df['ST_Slope']).transform(df['ST_Slope'])

In [ ]:
print(le1.classes_)
print(le2.classes_)
print(le3.classes_)
print(le4.classes_)
print(le5.classes_)

['F' 'M']
['ASY' 'ATA' 'NAP' 'TA']
['LVH' 'Normal' 'ST']
['N' 'Y']
['Down' 'Flat' 'Up']

In [ ]:
df.head()

   Age  Sex  ChestPainType  ...  Oldpeak  ST_Slope  HeartDisease
0   40    1              1  ...      0.0         2             0
1   49    0              2  ...      1.0         1             1
2   37    1              1  ...      0.0         2             0
3   48    0              0  ...      1.5         1             1
4   54    1              2  ...      0.0         2             0

[5 rows x 12 columns]

#Example of label encoder

In [ ]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

data = ["paris", "paris", "tokyo","tokyo", "amsterdam","delhi"]
le.fit(data)

print(le.transform(data))
print(le.classes_)

[2 2 3 3 0 1]
['amsterdam' 'delhi' 'paris' 'tokyo']

#Seperate Features and labels and train your model

In [ ]:
X = df.drop('HeartDisease',axis='columns')
Y = df[['HeartDisease']]

In [ ]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(X,Y,train_size=0.8)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
kmodel = KNeighborsClassifier()

kmodel.fit(xtrain,ytrain)

/usr/local/lib/python3.7/dist-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier()

In [ ]:
print(kmodel.score(xtrain,ytrain))
print(kmodel.score(xtest,ytest))

0.8024523160762943
0.6956521739130435